@page "/about"
@inject HttpClient Http
@using Models
@inject NavigationManager Navigation
@attribute [Authorize]
<h1>Combattre contre le champion</h1>

<div>
    <h5><em>LuckyFight</em> est un petit jeu développé par Amaury Dellassus et Mara Berlow avec
        l'aide de Yassine Benabbas dans le cadre de leurs études à Efficom Lille. </h5>
    <p>Créez votre héros, entraînez vous puis battez vous contre le champion!<br />
        Dans ce jeu de navigateur, vous allez créer un héro.
        Il faudra ensuite bien l'entraîner pour qu'il arrive à battre le champion invaincu d'un
        autre joueur.</p>
    <p>L'application utilise du C# pour le back comme pour le front. Le code source de l'application ainsi que des
        instructions de lancement sont disponibles (en anglais) sur notre
        <a href="https://github.com/amaurydelassus/LuckyFightCs">GitHub</a>
    </p>
</div>