@page "/train"
@inject HttpClient Http
@attribute [Authorize]
<h1>S'entraîner</h1>

@if (choix == 0)
{
    <div class="container">
        <div class="row">
            <div class="column">Choisis un héro : </div>
            <div class="column"><button class="btn btn-primary" @onclick="MakeChoice">Choix</button></div>
        </div>
    </div>
}
else
{
    if (trying)
    {
        <p> + @currentCount points de vie !</p>
        <button class="btn btn-warning font-weight-bold" @onclick="IncrementCount">S'entraîner</button>
    }
    else
    {
        <p class="font-weight-bold text-success">Tu as gagné @currentCount points de vie !</p>
    }

}





@code {
    private int currentCount = 0;

    private int choix = 0;

    private bool trying = true;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void MakeChoice()
    {
        choix = 1; //choix = id du héro
        await Task.Delay(5000);
        trying = false;
        //ensuite on peut update le héro en remplaçant db.Heroes[i].pv = currentCount
    }
}