@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row pl-4 navbar navbar-dark" style="background-color: #9B0000;">
    <a class="navbar-brand" href=""><img src="./logo.png"> LuckyFight</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link text-light" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-light" href="#" @onclick="BeginSignOut">
                        <span class="oi oi-key" aria-hidden="true"></span> Se deconnecter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-light" href="mesperso">
                        <span class="oi oi-people" aria-hidden="true"></span> Mes personnages
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-light" href="train">
                        <span class="oi oi-heart" aria-hidden="true"></span> S'entraîner
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-light" href="fight">
                        <span class="oi oi-flag" aria-hidden="true"></span> Combattre
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link text-light" href="authentication/login">
                        <span class="oi oi-key" aria-hidden="true"></span> Se connecter
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>



        <li class="nav-item px-3">
            <NavLink class="nav-link text-light" href="fetchdata">
                <span class="oi oi-star" aria-hidden="true"></span> Les champions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link text-light" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> A propos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
